body {
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.body2 {
    font-family: Arial, sans-serif;
    background: url('/images/bg-matchaa.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 250px;
    display: flex;
    flex-direction: column;
}

.login-container h2 {
    text-align: center;
    color: #333;
}

.box {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.form-group input[type="submit"] {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}
